body {
    background: #f0e8d5;
    color: #1e1e1e;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    padding: 60px 15px;
}

h1, h2, h3 {
    font-weight: 600;
}

h1, .h1 {
    font-size: 2.75em;
}

h2 {
    text-transform: uppercase;
}

h2, p.callout {
    font-size: 1.1em;
}

h3 {
    font-size: 1.15em;
}

.wrap {
    width: 96%;
    margin: 0 auto;
}

.cf {
    zoom: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

ul li:not(:last-child) {
    margin-right: 30px;
}

ul li a {
    color: #1e1e1e;
    text-decoration: none;
    text-transform: uppercase;
}

section, section#applications .wrap .applications-section {
    min-height: 85vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

div#applications-menu-container h2, nav#applications-menu {
    display: inline-block;
}

div#applications-menu-container h2:after {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(/cloudbeds/docs/src/images/chevron-right-regular-full.svg) center/contain no-repeat;
    margin: 0 15px;
}

#overview img, #applications img {
    border-radius: 15px;
    box-shadow: 0px 2px 8px 1px rgb(165 158 143 / 40%);
    width: auto;
    max-width: 100%;
}