body {
    background: #f0e8d5;
    color: #1e1e1e;
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    padding: 60px 15px;
}

h1, h2, h3 {
    font-weight: 600;
}

h1, .h1 {
    font-size: 2.75em;
}

h3 {
    text-transform: uppercase;
}

h3, p.callout {
    font-size: 1.1em;
}

h4 {
    font-size: 1.15em;
}

p {
    line-height: 1.75;
}

.wrap {
    width: 96%;
    margin: 0 auto;
}

.cf {
    zoom: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline-block;
}

ul li:not(:last-child) {
    margin-right: 30px;
}

ul li a {
    color: #1e1e1e;
    text-decoration: none;
    text-transform: uppercase;
}

section, section#applications .wrap .applications-section {
    min-height: 750px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

section#applications {
    height: auto;
}

div#applications-menu-container h3, nav#applications-menu {
    display: inline-block;
}

div#applications-menu-container h3:after {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(/cloudbeds/docs/src/images/chevron-right-regular-full.svg) center/contain no-repeat;
    margin: 0 15px;
}

#overview img, #applications img {
    border-radius: 15px;
    box-shadow: 0px 2px 8px 1px rgb(165 158 143 / 40%);
    width: auto;
    max-width: 100%;
}

nav#main-menu {
    position: absolute;
    top: 88%;
    right: 5vw;
    transform: rotate(90deg);
    transform-origin: right;
}

.divider-title {
    margin-bottom: 100px;
    position: relative;
}

.divider-title:after, div#applications-menu-container:after {
    content: '';
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: 1px;
    background: #1e1e1e;
}

.divider-title span, div#applications-menu-container > div {
    background: #f0e8d5;
    padding-right: 30px;
    position: relative;
    z-index: 1;
    display: inline-block;
}

div#applications-menu-container {
    width: 100%;
    position: sticky;
    top: 0;
    background: #f0e8d5;
    padding: 20px 15px;
    margin: -20px -15px;
    overflow: hidden;
    z-index: 1;
}

img#lava-lamp {
    position: absolute;
    right: 3.5vw;
    bottom: 0;
}

h1 img {
    max-width: 136px;
}

#hero p {
    margin-top: 60px;
    font-size: 1.25em;
    line-height: 1.75;
}