@media screen and (min-width: 1700px) {
    nav#main-menu {
        right: 5vw;
    }
}

@media screen and (min-width: 1240px) {
    body {
        padding: 60px 65px;
    }

    .wrap {
        max-width: 1200px;
    }

    #lava-lamp {
        right: 3.75vw;
    }

    div#applications-menu-container:before {
        width: calc(100% + 130px);
    }
}

@media screen and (max-width: 1239px) {
    div#applications-menu-container:before {
        width: calc(100% + 30px);
    }
}

@media screen and (min-width: 1030px) {
    .applications-section .row > div:first-child {
        padding-right: 85px;
    }
}

@media screen and (min-width: 992px) {
    nav#main-menu {
        position: absolute;
        top: 88%;
        right: -1.25vw;
        transform: rotate(90deg);
        transform-origin: right;
        transition: opacity 0.35s ease;;
    }

    nav#main-menu.fixed {
        position: fixed;
        top: 75%;
        right: 8.4vw;
        z-index: 2;
    }

    section, section#applications .wrap .applications-section {
        min-height: 750px;
    }

    #hero h2 {
        max-width: 870px;
    }

    #hero p {
        max-width: 450px;
    }

    section#overview .row > div:first-child {
        padding-right: 30px;
    }
}

@media screen and (max-width: 991px) {
    section#hero {
        min-height: 750px;
        height: 82vh;
    }

    section, section#applications .wrap .applications-section {
        padding: 60px 0;
    }

    section#overview {
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 850px) {
    nav#applications-menu select {
        display: none;
    }
}

@media screen and (max-width: 849px) {
    nav#applications-menu ul {
        display: none;
    }

    select#nav-select {
        width: 100%;
        padding: 5px 10px;
        border: 1px solid #e3d4b0;
        background: #f7f3e9;
        appearance: none;
        -webkit-appearance: none;
    }

    nav#applications-menu:after {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url(/cloudbeds/docs/src/images/chevron-right-regular-full.svg) center / contain no-repeat;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        right: 10px;
    }

    div#applications-menu-container .wrap:after {
        display: none;
    }
    
    nav#main-menu {
        padding: 30px 20px;
        margin: 20px 0 100px;
        background: #f7f3e9;
        text-align: center;
    }

    div#applications-menu-container > .wrap > div {
        padding-right: 0px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    footer p {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    section#github {
        padding-top: 0;
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 431px) and (max-width: 849px) { 
    nav#applications-menu {
        width: calc(100% - 177px);
    }
}

@media screen and (min-width: 431px) {
    div#applications-menu-container h3, nav#applications-menu {
        display: inline-block;
    }

    div#applications-menu-container h3:after {
        content: '';
        width: 16px;
        height: 16px;
        display: inline-block;
        background: url(/cloudbeds/docs/src/images/chevron-right-regular-full.svg) center/contain no-repeat;
        margin: 0 15px;
    }
}

@media screen and (max-width: 430px) {
    div#applications-menu-container h3 {
        position: relative;
    }

    #applications-menu-container h3:after {
        content: '';
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        width: calc(100% - 15px);
        height: 1px;
        background: #1e1e1e;
    }
}