@media screen and (min-width: 1700px) {
    nav#main-menu {
        right: 5vw;
    }
}

@media screen and (min-width: 1240px) {
    body {
        padding: 60px 65px;
    }

    .wrap {
        max-width: 1200px;
    }

    #lava-lamp {
        right: 3.75vw;
    }
}

@media screen and (min-width: 1030px) {
    .applications-section .row > div:first-child {
        padding-right: 85px;
    }
}

@media screen and (min-width: 992px) {
    #hero h2 {
        max-width: 870px;
    }

    #hero p {
        max-width: 450px;
    }

    section#overview .row > div:first-child {
        padding-right: 30px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .applications-section .row > div:last-child, section#overview .row > div:first-child {
        padding-left: 20px;
    }
}

@media screen and (min-width: 768px) {
    footer p {
        max-width: 600px;
    }
}